@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides&family=Gowun+Batang:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sevillana&display=swap');

*{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

/* Css for the Navbar Here  */
nav{
  background-color: rgb(100, 63, 39);
  padding:1.2rem;
  display: flex;
  gap:5rem;
  border-radius:2px;
}
nav a{
  text-decoration: none;
  font-size: large;
  font-weight: 200;
  color: white;
}

/* this is the Css of the Coffee  Page*/
.coffee{
  background-image: url('https://rare-gallery.com/mocahbig/1313258-Cup-Coffee-BeansCoffee-4k-Ultra-HD-Wallpaper.jpg');
  background-image: url('https://w0.peakpx.com/wallpaper/204/127/HD-wallpaper-autumn-coffee-pine-cones-leaces-coffee-cup.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* this is the css of the tables */

.tables{
  background-image: url('https://i.pinimg.com/originals/f4/b4/68/f4b468c720a97521602be6095de1abec.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 130vh;
}

